.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  margin-left: 0;
  padding-left: 0;
  width: 45px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.4s;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #343a40;
  nav {
      min-width: 120px;
      padding-left: 12px;
      text-align: left;
      span {
          padding-left: 10px;
      }
  }
}
.menu:hover {
  width: 200px;
}