@font-face {
  font-family: "NTSomic-Regular"; 
  src: url("../../fonts/NTSomic-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

body {
  margin: 0;
  font-family: "NTSomic-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
