.actions {
    display: flex;
    flex-direction: row;

    button {
        width: 30px;
        height: 30px;
        display: flex;
        position: relative;
        flex-direction: row;
        padding: 1rem;
        margin-left: 1rem;
    }
}

.list-table {
	width: 100%;
	border: 0px solid transparent;
	margin-bottom: 20px;

    // & > * {
    //     margin-bottom: 2rem;
    // }

    thead {
        // TODO border-radius: 14px;
        // TODO box-shadow: 0px 0px 22px -2px rgba(115,  0,  255, 1);
    }

    thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #d8d8d8;
        font-size: 14px;
    }
    thead tr th:first-child {
        border-radius: 8px 0 0 8px;
    }
    thead tr th:last-child {
        border-radius: 0 8px 8px 0;
    }

    tbody tr {
        // TODO box-shadow: 0px 0px 22px -2px rgba(115,  0,  255, 1);
        // TODO border-radius: 14px;
    }

    tbody td {
        text-align: left;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
    }
    tbody tr:nth-child(even){
        background: #f3f3f3;
    }
    tbody tr td:first-child {
        border-radius: 8px 0 0 8px;
    }
    tbody tr td:last-child {
        border-radius: 0 8px 8px 0;
    }
}
